* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Typography*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3em;
}

.sidebar {
  color: darkslategray;
  width: 100%;
  float: right;
  margin: 10px 0;
  padding: 0 15px;
  border-radius: 10px;
  transition: 0.3s;
  border: solid 1px lightgray;
}
.sidebar:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #dbdbdb;
  -moz-box-shadow: 0px 0px 3px 3px #dbdbdb;
  box-shadow: 0px 0px 3px 3px #dbdbdb;
}

.sidebar-header {
  border-bottom: 1px solid gray;
  padding: 10px 0;
}
.sidebar-header h1 {
  padding: 10px 0;
}

.sidebar-tags {
  border-bottom: 1px solid gray;
}
.sidebar-tags h1 {
  font-size: 1.2em;
  padding: 10px;
}
.sidebar-tags ul {
  padding: 0 10px 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.sidebar-tags ul li {
  float: left;
  padding: 5px;
  background-color: steelblue;
  color: white;
  width: fit-content;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar-tags ul li:hover {
  background-color: darkblue;
}

.sidebar-featured {
  padding: 10px 0;
  margin-bottom: 50px;
}
.sidebar-featured h1 {
  padding: 10px 0;
}
.sidebar-featured img {
  width: 100%;
  height: 200px;
  padding: 5px;
}
.sidebar-featured h4 {
  padding: 10px;
}

aside {
  display: none;
}

@media (min-width: 992px) {
  aside {
    display: block;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*==========================================================================
*/
.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.nav {
  border-bottom: 1px solid gray;
  float: left;
  padding: 0 2em;
  text-align: right;
  height: auto;
  line-height: 70px;
  width: 100%;
}
.nav .nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  font-family: "Abril Fatface", cursive;
}
.nav .nav-menu {
  margin: 0 30px 0 0;
}
.nav .nav-menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav .nav-menu a:hover {
  color: red;
}
.nav .nav-menu__input {
  border-radius: 30px;
  padding: 3px 10px;
  border: solid 1px lightgray;
}
.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  transition: 0.3s;
}
.nav label:hover {
  color: red;
}

#menu {
  display: none;
}

@media (max-width: 992px) {
  .nav label {
    display: block;
    cursor: pointer;
  }
  .nav .nav-menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .nav .nav-menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .nav #menu:checked + .nav-menu {
    display: block;
  }
}
.nav {
  border-bottom: 1px solid gray;
  float: left;
  padding: 0 2em;
  text-align: right;
  height: auto;
  line-height: 70px;
  width: 100%;
}
.nav .nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  font-family: "Abril Fatface", cursive;
}
.nav .nav-menu {
  margin: 0 30px 0 0;
}
.nav .nav-menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav .nav-menu a:hover {
  color: red;
}
.nav .nav-menu__input {
  border-radius: 30px;
  padding: 3px 10px;
  border: solid 1px lightgray;
}
.nav label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  transition: 0.3s;
}
.nav label:hover {
  color: red;
}

#menu {
  display: none;
}

@media (max-width: 992px) {
  .nav label {
    display: block;
    cursor: pointer;
  }
  .nav .nav-menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .nav .nav-menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  .nav #menu:checked + .nav-menu {
    display: block;
  }
}
.container-news {
  margin: 0 auto;
  float: left;
  text-align: center;
}

.news {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  border: solid 1px lightgray;
}
.news:hover {
  -webkit-box-shadow: 0px 0px 3px 3px #dbdbdb;
  -moz-box-shadow: 0px 0px 3px 3px #dbdbdb;
  box-shadow: 0px 0px 3px 3px #dbdbdb;
}

.news-header h2 {
  padding: 0 10px;
  text-align: left;
  color: cornflowerblue;
  font-weight: 500;
}

.news-body {
  padding: 10px;
}
.news-body img {
  width: 100%;
  height: 300px;
}
.news-body p {
  padding: 5px 10px;
}

.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.newsletter h2 {
  font-size: 24px;
  padding: 10px;
}
.newsletter p {
  padding: 10px;
}
.newsletter .newsletter-group input,
.newsletter .newsletter-group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}
.newsletter .newsletter-group button {
  background-color: coral;
  color: white;
  transition: 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.newsletter .newsletter-group button:hover {
  background-color: darkorange;
}

/*# sourceMappingURL=main.css.map */
